*,::file-selector-button{@media(pointer:fine){scrollbar-width:none}font:unset;font-family:revert;font-style:revert;font-weight:revert;margin:unset;padding:unset}
:not(*>*){@media(prefers-color-scheme:dark){background-color:#000;color-scheme:dark}hyphens:auto;line-break:loose;line-height:2;list-style-position:inside;overflow-wrap:break-word;text-align:justify;-webkit-text-size-adjust:none;text-underline-position:under}
:where(:any-link:not(:active)){color:unset}
:visited{color:revert}
:where(:any-link){text-decoration-line:unset}

@font-face{font-family:\ ;src:local(noto sans jp)}
@font-face{font-family:\ ;src:local(hiragino kaku gothic pron)}
@font-face{font-family:\ ;src:local(arial)}
@font-face{font-family:\ ;src:local(verdana);unicode-range:u+20}
:not(*>*){font-family:\ ,sans-serif;font-feature-settings:"palt";font-kerning:none;-webkit-locale:"ja"}