@font-face{font-family:\ ;src:local(verdana);unicode-range:u+20}

*,::placeholder{all:unset;cursor:revert;display:revert;font-style:revert;font-weight:revert;line-height:2;text-decoration:revert}

:not(*>*){font-family:\ ,arial,noto sans jp,sans-serif;font-feature-settings:"palt";font-kerning:none;text-align:justify;-webkit-text-size-adjust:none}

::placeholder{color:revert}

*{@media(pointer:fine){scrollbar-width:none}}